<!DOCTYPE html>
<html>
<head>
  <title>PUMPKINS!!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <form method="GET">
      {% csrf_token %}

      <h4>GET more information about your Pumpkins!</h4>

      {% for field in form %}
      <div class="form-group row">
        <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
        <div class="col-10">
          {{ field }}
        </div>
      </div>
      {% endfor %}

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">

          <button type="submit" class="btn btn-primary" formaction="{% url 'pumpkin_form_result' %}">SEARCH for current Prices</button>
          <button type="submit" class="btn btn-primary" formaction="{% url 'pumpkin_form_before_result' %}">SEARCH for prices 30 days before</button>

        </div>
      </div>
    </form>
  </div>
</body>
</html>